@using DrinksMachine.Models.Data;

@{
    ViewData["Title"] = "Drinks";
    var drinks = Model;
}

<h1>Drinks</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Img</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drink in drinks)
        {
                <tr>
                    <td>@drink.Name</td>
                    <td>@drink.Price</td>
                    <td>@drink.Img</td>
                    <td>@drink.Quantity</td>
                </tr>
        }
    </tbody>
</table>